

<div class="loginform">
	<form>
		<div class="title">
           Signup
		</div>
		<div class="firstName">
			<label for="firstName">First Name</label>
			<input id="firstName" type="text">
		</div>
		<div class="lastName">
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text">
		</div>
		<div class="email">
			<label for="email">Email</label>
			<input id="email" type="email">
		</div>
		<div class="mobileNumber">
			<label for="number">Mobile Number</label>
			<input id="number" type="email">
		</div>
		<div class="buttons">
			<button type="submit">Register</button>
		</div>
	</form>
</div>
